body{

  background: #111;
  
}

.text {
  font-family: 'VT323', 'monospace';
  color: #00bb00;
}

.medtext{
  font-size:25px;
}

.bigtext{
  font-size: 50px;
}

h1{
  font-size: 50px;
}

.searchbar{
  background: #111;
  border: none;
  width: 86.6%;
  color: #00bb00;
  
}

.searchbtn{
  background: #111;
  border: solid;
  border-width: 1px;
 
  border-color: #007700;
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
  
}

.searchbtn:hover{
  background: #003300;
}

/* borrowed animation code from https://css-tricks.com/snippets/css/typewriter-effect/ */
.typewriter h1{
  overflow: hidden; 
  border-right: .15em solid #111; 
  white-space: nowrap; 
  letter-spacing: .05em; 
  animation: 
    typing 3.5s steps(24, end),
    blink-caret .75s step-end 5;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #00bb00; }
}

.col-xs-7{
  padding-left: 10px;
}
